-
  let list = ["Uno", "Dos", "Tres",
          "Cuatro", "Cinco", "Seis"]

-
  let titulo = 'vite!'

- let link = ''

-
  let parrafo = 'Lorem ipsum dolor sit amet consectetur adipisicing.'

-
  let xd = [
    {href: '#', src: '/vite.svg', alt: 'vite logo', class: ''},
    {href: '#', src: '/src/assets/images/typescript.svg', alt: 'javascript logo', class: 'vanillats'},
    {href: '#', src: '/src/assets/images/pug.svg', alt: 'pug logo', class: 'pug'}
  ]
