form(id="form").form
  input(type="text" name="user" placeholder="Name")#name
  input(type="email" name="email" placeholder="Email")#email
  input(type="password" name="password" placeholder="Password")#pass
  button(type="submit") Registrar
